body {
	font-size: 20px;
	font-family: Verdana;
	margin: 0px;
}

select {
	font-size: 20px;
	font-family: Verdana;
}

header, main {
	text-align: center;
}

main fieldset {
	position: relative;
	text-align: left;
	width: 80%;
	left: 10%;
}

footer {
	position: relative;
	text-align: center;
	width: 100%;
}

.arti {
	width: 250px;
}

.dere {
	text-align: right;
	width: 150px;
}

